@import url(https://fonts.googleapis.com/css?family=Pinyon+Script|Montserrat|Arvo);
*{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Arvo', serif;
	-webkit-transition: all 0.2s 0.1s ease-out;
	   -moz-transition: all 0.2s 0.1s ease-out;
		 -o-transition: all 0.2s 0.1s ease-out;
	    -ms-transition: all 0.2s 0.1s ease-out;
         	transition: all 0.2s 0.1s ease-out;
}
p,span{
	font-size: 100%;
}
a,ul,li,ol{
	font-size: 100%;
	list-style: none;
	text-decoration: none;
	color: #000;
}
h1,h2,h3,h4,h5,h6,input,textarea{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #fafafa;
}
body{
	clear: both;
	display: block;
	background-image: url(../images/full.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-attachment: fixed;
}
section{
	width: 100%;
}
header{
	position: fixed;
	width: 98%;
	padding: 1%;
	background-color: #222d2f;
}
header div{
	display: inline-block;
}
.img-responsive{
	width: 100%;
	height: 100%;
}
.logo{
	width: 29.5%;
}
.logo h1{
	font-size: 350%;
	font-family: 'Pinyon Script', cursive;
	color: #f1c40f;
	text-decoration: underline;
}
.menu{
	margin: 0 3%;
	width: 64%;
}
.menu ul{
	display: block;
}
.menu li{
	cursor: pointer;
	margin: 0 2%;
	display: inline-block;
}
.menu li:hover{
	border-bottom: 3px solid #2ecc71;
}
.active{
	border-bottom: 3px solid #f1c40f;
}
.active:hover{
	border-bottom: 3px solid #f1c40f !important;
}
.one{
	background-color: rgba(34,34,34,0.7);
}
.one .center{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	width: 70%;
}
.one h1{
	font-size: 350%;
	border-bottom: 2px solid #f1c40f;
	text-align: left;
}
.one h3{
	font-size: 150%;
	text-align: right;
}
.two{
	background-color: #f1c40f;
	display: block;
}
.two div{
	display: inline-block;
}
.two .left{
	width: 34%;
	padding: 4% 3%;
	vertical-align: top;
}
.two .left h1{
	font-size: 300%;
	color: #222d2f;
	margin: 3% 0;
}
.two .left h3{
	font-size: 200%;
	color: #222d2f;
	text-align: justify;
}
.two .right{
	width: 59.5%;
	padding: 4% 0;
}
.two img{
	min-height: 370px;
	border: 4px solid #fff;
	border-right: none;
	border-left: none;
}
.third{
	display: block;
	padding: 3% 2%;
	width: 96%;
	background-color: #222d2f;
}
.third div{
	display: inline-block;
}
.third .left{
	width: 60%;
}
.third .images{
	display: block;
}
.third img{
	display: inline-block;
	width: 45.6%;
	margin: 2%;
}
.third .right{
	vertical-align: top;
	width: 96%;
}
.third h1, .third h2{
	text-align: left;
}
.third a span{
	border: 2px solid #fff;
	float: left;
	margin: 1% 0;
	padding: 1%;
	background-color: #f1c40f;
}
.third a span:hover{
	background-color: #222d2f;
	color: #fff;
}
.third ul{
	display: block;
	width: 90%;
	padding: 1% 5%;
}
.third li{
	display: inline-block;
	width: 43%;
	padding: 2% 1%;
	margin: 1% 2%;
	background-color: #e67e22;
}
.fourth{
	background-color: #f1c40f;
}
.fourth h2{
	padding: 2% 0;
	color: #222d2f;
}
.contact{
	background-color: #222d2f;
	display: block;
}
.contact div{
	display: inline-block;
}
#map{
	width: 59.5%;
	min-height: 400px;
}
.address{
	width: 36%;
	padding: 2%;
	vertical-align: top;
}
.address h1{
	font-size: 300%;
	text-align: left;
}
.address h2{
	text-align: left;
}
form input, form textarea{
	text-align: left;
	padding: 5px;
	width: 90%;
	margin: 1% 0;
	margin-right: 10%;
	border-radius: 6px;
	color: #000;
}
.footer{
	padding: 1% 0;
	background-color: #fff;
	color: #000;
}
.footer span{
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
.footer h4{
	color: #000;
}
.footer span:hover{
	color: #d35400;
}
.footer span:hover > span{
	color: #27ae60;
}
.third, .three{
	display: none;
}